@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Ubuntu&display=swap');

/* Custom properties */
:root {
    --background-color: #f6f7fb;
    --text-font: 'Roboto Mono', monospace, sans-serif;

     --light-text:rgb(130, 132, 144);
     --hover-link: rgb(45, 109, 212);
    }


html{
    scroll-behavior: smooth;
    scroll-padding: 3rem;
}

/* Remove custom styles of elements */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--text-font);
}

/* Header styling */

#header-wrapper{
    background-color:#f6f7fb;
}

#header-container {
    background-color:#ffffff;
    width: 98%;
    position: fixed;
    z-index: 1;
    top: 0;
    border-radius: 20px;
    margin: 1%;
}

#header-content {
    display: flex;
    justify-content: space-between;
    margin: 1%;
}

.nav-logo {
    display: flex;
    align-items: center;
    gap: 3px;
}

.nav-overlay {
    background-color: inherit;
    border: 0;
    margin: .5rem;
}

.menubar {
    min-height: 2.5rem;
}

.site-logo-name {
    display: flex;
    align-items: center;
    gap: 3px;
}

.site-logo-name>img {
    height: 2.5rem;
}

.site-name {
    font-size: 1.6rem;
}

div.nav-link-button {
    display: flex;
}

ul.nav-text {
    display: flex;
    align-items: center;
}

li.home,
li.contact,
li.progress {
    list-style: none;
    margin: 10px;
}

li>a {
    text-decoration: none;
    color: black;
}

.register {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 12px;
}

button.login {
    padding: 8px 12px;
    color: #1a1a21;
    background-color: #f6f7fb;
    border: 1px solid #e1ecf4;
    border-radius: 6px;
    font-size: 16px;
    font-weight: bold;
}

button.get-started {
    padding: 8px;
    color: #ffffff;
    background-color: #1a1a21;
    border: 1px solid #f6f7fb;
    border-radius: 6px;
    font-size: 16px;
    font-weight: bold;
}

/* side nav */
  
.nav-overlay {
    background-color: inherit;
    border: 0;
    margin: .5rem;
}

.menubar {
    min-height: 2.5rem;
}

.divider {
    background-color: rgb(64, 64, 74);
    height: 1px;
    width: 75%;
    margin-left: 20px;
  }

#side-nav {
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.075);
    /* display: grid; */
    padding: 40px 30px 30px 10px;
    /* height: 85vh; */
}

#side-wrapper{
    width: 0;
    overflow-x: hidden;
    transition: width .6s ease-in-out;
    position: fixed;
    z-index: 1;
    background-color: rgb(26, 26, 33);
    height: 100vh;
}

#side-wrapper.active{
    width : 250px;

}

#side-nav a {
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 18px 18px;
    color: var(--light-text);
    padding-left:  30px;
    text-decoration: none;
}

#side-nav a:hover {
    color: var(--hover-link);
}

#side-nav-head{
    display: flex;
}

.nav-head {
    display: flex;
    align-items: center;
    gap: 5px;
    color: white;
    font-size: 22px;
    font-weight: 400;
    margin: 12px;
}

.nav-head > img{
    height: 2.2rem;
}

.nav-site-name{
    font-size:1.5rem;
}

#nav-close{
    background-color: inherit;
    border: none;
    position: absolute;
    top: 16px;
    right: 10px;
    margin: 6px 8px 0 0;
}

#nav-close > img{
    width: 26px;
}

#side-nav li{
    list-style-type: none;
}

#select-program{
    height: 0;
    overflow: hidden;
}

#select-program.active{
    height:auto;
}

#select-category1, #select-category2{
    height:0;
    overflow: hidden;
}

#select-category1.active, #select-category2.active{
    height: auto;
    margin: 12px 0 0 24px;
    display: grid;
    gap: 8px;
}

.nav-page-links{
    display: grid;
    margin: 16px;
}

.nav-link{
    padding: 20px;
}

#resource-segment{
    display: flex;
    gap: 8px;
    align-items: center;
}

#resource-button{
    background-color: inherit;
    border:none;
}

#resource-button img{
    width: 30px;
}

#program-button1, #program-button2{
    background-color: inherit;
    border:none;
}

.program-segment{
    display: flex;
    align-items: center;
    gap: 8px;
    margin-left: 24px;
}

#home {
    background-image: url(icons/home.svg);
}

#home:hover {
    background-image: url(icons/home-h.svg);
}

#exchange {
    background-image: url(icons/exchange.svg);

}

#exchange:hover {
    background-image: url(icons/exchange-h.svg);
}

#file {
    background-image: url(icons/file.svg);

}

#file:hover {
    background-image: url(icons/file-h.svg);
}


#community {
    background-image: url(icons/community.svg);

}

#community:hover {
    background-image: url(icons/community-h.svg);
}

#settings {
    background-image: url(icons/settings.svg);

}

#settings:hover {
    background-image: url(icons/settings-h.svg);
}

#logout {
    background-image: url(icons/logout.svg);

}

#logout:hover {
    background-image: url(icons/logout-h.svg);
}

/* Section 1 */
#section-1 {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 120px 0 60px;
    background-color: var(--background-color);
}

.section-1-heading {
    font-size: 4em;
    margin: 1rem;
}

.section-1-quote {
    font-size: 1.5rem;
    margin-bottom: 1rem;

}

/* search portion */

.search {
    font-size: 1.2rem;
    text-align: center;
    width: 420px;
    padding: 14px 26px;
    border:1px solid grey;
    border-radius: 5em;
    /* background-color: var(--background-color); */
}

/* Remove input type: search border outline  */
.search:focus-visible {
    outline-color: grey;
}

/* Remove default cancel icon from input type: search*/
.search::-webkit-search-cancel-button {
    display: none;
}

/* Change autocomplete styles in webkit browsers  */
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px var(--background-color) inset;
}

#arrow-icon {
    background-color: var(--background-color);
    border: none;
    height: 110px;
    width: 80px;
    padding-top: 50px;
    animation: movement 2s ease infinite;
}

@keyframes movement {
    0% {
        transform: translateY(0%)
    }

    50% {
        transform: translateY(25%)
    }

    100% {
        transform: translateY(0%);
    }
}

#arrow-icon > img {
    height: 60px;
}

/* Section 2 */
#section-2 {
    min-height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

}

.section-2-heading {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.section-2-quote {
    font-size: 1.5rem;
    margin: 0 1rem 2.5rem 1rem;

    margin-bottom: 2.5rem;
}

.section-2-counts {
    display: flex;
    justify-content: center;
    gap: 6rem;
}

.section-2-counts>li {
    list-style: none;
    text-align: center;
}

.resource-description,
.click-description,
.user-description {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
}

.resource-count,
.click-count,
.user-count {
    font-size: 3rem;
    font-weight: bold;
}

.resource-logo,
.click-logo,
.user-logo {
    height: 32px;
}

.resource-text,
.click-text,
.user-text {
    font-size: 1rem;
}

/* Section 3 */
#section-3 {
    min-height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-color: var(--background-color);
}

.section-3-heading {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.section-3-quote {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.section-3-link {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid grey;
    border-radius: 20px;
    height: 40px;
    width: 150px;
    background-color: white;
    margin: auto;
    text-decoration: none;

}

@media (max-width: 760px) {
    ul.nav-text {
        display: none;
    }
}


@media (max-width: 510px) {
    .register {
        display: none;
    }

    .section-2-counts {
        gap: 3rem;
    }
}

/* for mobile */

@media (max-width: 480px) {
    .nav-logo {
        gap: 0px;
    }

    .menubar {
        min-height: 2rem;
    }

    .site-logo-name {
        gap: 0px;
    }

    .site-logo-name>img {
        height: 2rem;
    }

    .site-name {
        font-size: 1.5rem;
    }

    #header-container{
        margin: 2%;
        width: 96%;
    }

    .section-1-heading {
        font-size: 3em;
        margin: 1rem;
    }

    .section-1-quote {
        font-size: 1.2rem;
        margin: 1rem;

    }

    .search {
        font-size: 1rem;
        width: 100%;
    }

    .section-2-heading {
        font-size: 2rem;
    }

    .section-2-quote {
        font-size: 1.2rem;
        margin: 1rem;
    }

    .section-2-counts {
        gap: 2rem;
        margin-top: 16px;
    }

    .resource-description,
    .click-description,
    .user-description {
        gap: 4px;
        margin-top: 8px;
        flex-direction: column;
    }

    .resource-count,
    .click-count,
    .user-count {
        font-size: 2rem;
    }

    .resource-text,
    .click-text,
    .user-text {
        font-size: 14px;
    }

    .section-3-heading {
        font-size: 2rem;
    }

    .section-3-quote {
        font-size: 1.2rem;
        margin: 1rem;
    }
}